@charset "utf-8";

/* ========== reset ========== */
a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, 
em, embed,
fieldset, figcaption, figure, footer, form, 
header, hgroup, html,
i, iframe, img, ins, input,
kbd, 
keygen,
label, legend, li, 
meter, mark,
nav, menu,
object, ol, output, option,
p, pre, progress,
q, 
s, samp, section, small, span, source, strike, sub, sup,
table, tbody, tfoot, thead, th, tr, td, video, tt,
u, ul, 
var{padding:0;margin:0;font:inherit;border:0;box-sizing:border-box;}
body{line-height:1; }
ul, ol, li{list-style:none;}
table{}/* border-collapse:collapse;border-spacing:0;*/
caption, legend{visibility:hidden;overflow:hidden;height:0px;text-indent:-9999px;}
td, th{word-break:break-all;vertical-align:middle;}
mark, var{background:none;}
img, input, button, select, textarea{vertical-align:middle;}
img, fieldset, iframe{border:0;}
input[type=checkbox], input[type=radio] {display: inline-block; vertical-align: inherit;}
/* html5 - for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{display:block;}

/* clear */
.clearfix{*zoom: 1;} /* for IE 6/7 */
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden;}

/* link style */
a:link,a:visited,a:active {text-decoration:none; color:#666;}
a:hover	{ text-decoration:underline;  }
img{ vertical-align:top;  }

